{{#header}}
{{line}}
{{/header}}

{{#enums}}
class {{name}}(enum.Enum):
{{#values}}
    {{name}} = {{value}}
{{/values}}
{{/enums}}

{{#models}}
class {{name}}(db.Model):
{{#columns}}
    {{name}} = db.Column(db.{{type}}{{#is_pk}}, primary_key=True{{/is_pk}}{{#is_not_nullable}}, nullable=False{{/is_not_nullable}}{{#default}}, default={{value}}{{/default}})
{{/columns}}

{{#foreign_columns}}
    {{column_name}} = db.Column(db.{{type}}, db.ForeignKey('{{small_foreign_name}}.{{foreign_key}}'){{#is_not_nullable}}, nullable=False{{/is_not_nullable}})
    {{small_foreign_name}} = db.relationship("{{foreign_name}}"{{#backref}}, backref=db.backref("{{small_own_names}}"{{/backref}}{{#lazy}}, lazy=True{{/lazy}}))
{{/foreign_columns}}

{{#repr}}
    def __repr__(self):
        return "{{str}}"{{#has_format}}.format({{#format_lst}}{{^first}}, {{/first}}{{value}}{{/format_lst}}){{/has_format}}
{{/repr}}

{{/models}}
{{#middle}}
{{line}}
{{/middle}}

{{#admin_lines}}
admin.add_view(ModelView({{name}}, db.session))
{{/admin_lines}}

{{#footer}}
{{line}}
{{/footer}}
